@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *, [data-theme=dark], [data-theme=dark] *));

@theme {
  /* Core semantic colors – Hedera themed (light) */
  --color-sui-primary: #4f46e5; /* hedera violet / light primary */
  --color-sui-primary-subtle: #e1ddff;
  --color-sui-primary-neutral: #f3f2ff;
  --color-sui-primary-content: #ffffff;
  --color-sui-accent: #2d84eb; /* hedera cobalt */
  --color-sui-base-content: #11151d; /* hedera charcoal */

  /* Status colors */
  --color-sui-success: #34eeb6;
  --color-sui-warning: #ffcf72;
  --color-sui-error: #ff8863;

  /* Input component colors */
  --color-sui-input-border: var(--color-sui-primary-subtle);
  --color-sui-input-background: var(--color-sui-primary-neutral);
  --color-sui-input-text: color-mix(in oklab, var(--color-sui-base-content) 70%, transparent);
  --color-sui-input-border-error: var(--color-sui-error);
  --color-sui-input-border-disabled: var(--color-sui-primary-subtle);

  /* Skeleton loading colors */
  --color-sui-skeleton-base: var(--color-sui-primary-subtle);
  --color-sui-skeleton-highlight: var(--color-sui-primary-neutral);
}

@variant dark {
  /* Hedera themed (dark) */
  --color-sui-primary: #8259ef; /* hedera ultraviolet / dark primary */
  --color-sui-primary-subtle: #4f46e5;
  --color-sui-primary-neutral: #181c27;
  --color-sui-primary-content: #ffffff;
  --color-sui-accent: #2d84eb;
  --color-sui-base-content: #f0f0f2;

  --color-sui-input-text: color-mix(in oklab, var(--color-sui-base-content) 70%, transparent);
  --color-sui-input-border-disabled: var(--color-sui-primary);
  --color-sui-input-border: var(--color-sui-primary);
}

.sui-skeleton {
  border-radius: 0.2rem;
  background-color: var(--color-sui-skeleton-base);
  @media (prefers-reduced-motion: reduce) {
    transition-duration: 15s;
  }
  will-change: background-position;
  animation: sui-skeleton 1.8s ease-in-out infinite;
  background-image: linear-gradient(105deg, #0000 0% 40%, var(--color-sui-skeleton-highlight) 50%, #0000 60% 100%);
  background-size: 200% auto;
  background-repeat: no-repeat;
  background-position-x: -50%;
}

@keyframes sui-skeleton {
  0% {
    background-position-x: -50%;
  }
  100% {
    background-position-x: 150%;
  }
}
